* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input {
    display: none;
}
.container {
    width: 100%;
    text-align: center ;
}
h1 {
    font-size: 40px;
    font-weight: normal;
    position: relative;
    margin: 40px 0; 
}
h1::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 400px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    background-color: brown;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        width: 100px
    }
    50%{
        width: 200px
    }
    100%{
        width: 100px
    }
}
.section-1 {
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
}
h4 {
    height: 100%;
    background-color: rgb(221, 221, 221);
    line-height: 60px;
    padding: 0 50px;
    color: white;
}
label {
    color: gray;
    margin: 0 20px;
    display: inline-block;
    height: 100%;
    line-height: 60px;
    font-size: 18px;
    cursor: pointer;
    transition: color .5s;
}
lable:hover {
    color: rgb(2, 1, 1);
}
.section-2 {
    width: 90%;
    display: grid;
    margin: auto;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.photo {
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    height: 230px;
    cursor: pointer;
    transition: .5s;
}
.photo  img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: .3s;
}
.photo::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100%;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.photo:hover::before {
    margin-top: 0;
    opacity: 1;
}
.photo::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    border-radius: 10px;
    background-color: rgb(0,0,0,.4);
    transition: .3s;
}
.photo:hover::after{
    height: 100%;
}

.container .section-2 .babyT,
.container .section-2 .family {
    opacity: 0;
    transform: scale(0);
    position: relative;
    display: none; 
}


.container .section-2 .exceptional {
    opacity: 0;
    transform: scale(0);
    position: relative;
    display: none;
}

#category1:checked ~ .container .section-2 .photo,
#category1:checked ~ .container .section-2 .babyT,
#category1:checked ~ .container .section-2 .family,
#category1:checked ~ .container .section-2 .exceptional {
    opacity: 1;
    transform: scale(1);
    position: relative;
    display: block; 
}

#category2:checked ~ .container .section-2 .babyT {
    opacity: 1;
    transform: scale(1);
    position: relative;
    display: block; 
}

#category3:checked ~ .container .section-2 .family {
    opacity: 1;
    transform: scale(1);
    position: relative;
    display: block; 
}

#category4:checked ~ .container .section-2 .exceptional {
    opacity: 1;
    transform: scale(1);
    position: relative;
    display: block; 
}