* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 100%;
    text-align: center ;
}
h1 {
    font-size: 40px;
    font-weight: normal;
    position: relative;
    margin: 40px 0;
}
